*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #efefef;
    margin: 0;
}

/* navbar */
nav{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a img{
    max-width: 140px;
}

nav {
  background-color: #818a91;
  padding-left:5%;
  padding-right:5%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-self: flex-end;

}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}

nav ul li a:hover {
  color: #ccc;
}

@media screen and (max-width: 450px) {
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    nav ul {
      display: block;
      text-align: center;
    }
  
    nav ul li {
      margin-bottom: 10px;
    }
}

/* search bar */

.test{
    margin-right: 5%;
    margin-left: 5%;
    display:grid;
    grid-template-columns: 50% 50%;
}

.search {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 15px;
    gap:10px;
    white-space: nowrap;
}

.search > form{
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

.form-order{
    border-color: white;
    white-space: nowrap;
}

.form-submit{
    border: unset;
    background-color: white;
}

.vue{
    text-decoration: none;
    background-color: white;
    color:black;
    border-radius: 5px;
    padding:13px;
    font-size: 13px;
    white-space: nowrap;
}

.active{
    color: white;
    background-color: #333;
}

.avg-stock{
    margin-top: 15px;
    align-self:flex-start;
    width:fit-content;
    background-color: #66baca;
}

@media screen and (max-width: 650px) {
    .test{
        display:flex;
        flex-direction: column;
    }

    .search {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 470px) {
    .search {
        flex-direction: column;
    }
}

/* products */
.catalog{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-content: space-around;
    gap:50px;
    margin-left: 5%;
    margin-right: 5%;
}

.product{
    display: grid;
    justify-self: center;
    grid-template-rows: 10% 60% 30%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 230px;
    height: 400px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.product-aisle{
    border-radius: 5px;
    padding:10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #FA7F72;
    width: max-content;
    justify-self: right;
    align-self: center;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-image{
    max-height: 180px ;
    max-width: 230px ;
    justify-self: center;
    align-self: center;
}

.product-info{
    display: grid;
}

.product-brand{
    text-transform: uppercase;
}


.product-numbers {
    margin-top:15px;
    align-self:flex-end;
    display: grid;
    grid-template-columns: auto auto;
}

.product-code {
    justify-self: start; 
    align-self: center;
}

.product-stock {
    justify-self: end; 
    border-radius: 5px;
    padding:10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #66baca;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* list */

.list-catalog {
    margin-right: 5%;
    margin-left: 5%;
    overflow: scroll;
}
  
.list-head {
    font-weight:bolder;
}
  
.list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    border-bottom: 1px solid #ccc;
}
  
.list > div {
    padding: 10px;
    min-width: 130px;
}
  
.list img {
    display: block;
    max-width: 100px;
    height: auto;
}
  